.about-us{
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 5vh;
}
.main-img{
    flex-grow: 1 !important;
    justify-content: flex-end;
}
.image{
    width: 30vw;
}
.about-para{
    flex-grow: 1 !important;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.main-style{
    display: flex;
    flex-direction: column;
}
.bgground{
    height: 50vh;
    width: 100%;
    padding-bottom: 5vh;
}
.faq{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vh;
}
.image-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.collapsible{
    flex-grow: 1;
}
.image-space{
    flex-grow: 1;
}
.container-about-us{
    position: relative;
    text-align: center;
    color: black;
}
.customer-reviews{
    display: flex;
    flex-direction: column;
}
.centre-about-us{
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media all and (max-width:1000px) {
    .about-us{
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
        justify-content: center;
        overflow: hidden;
        padding-bottom: 5vh;
    }
    .main-img{
        width: 100%;
    }
    .image{
        width:60vw;
        height: auto;
    }
    .about-para{
        flex-grow: 1 !important;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

}