.mainest-nav{
    display: flex;
    flex-direction: column;
}
.bottom-nav{
    color: black;
    background-color: black;
}
.main-nav{
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgba(250, 250, 250, 0.8);
    flex-direction: row;
    position: fixed;
    z-index: 2147483647;
    backdrop-filter: saturate(180%) blur(20px); 
    box-shadow: 0 10px 15px rgb(25 25 25 / 10%);   

}
.image-container{
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}
.top-nav-logo{
    height: 10vh;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.headings{
    color: black;
    flex-grow: 8;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    padding-right: 20px;
}
.nav-headings{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    
} 
li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 1.3em;
    cursor: pointer;
}
li:hover{
    color:blue;
    transition: 1s;
}
.mobile-menu{
    display: none;
    color: #FFF;
    font-size: 2em;
    vertical-align: middle;
    align-items: center;
    padding-left: 10px;
}

.call-button{
    background-color: #c59e10;;
    padding:13px 30px;
    border-radius: 5px;
    margin-left: 24px;
    display: inline-block!important;
    text-align: center;
    justify-content: center;
    
}
.phoneLink{
    text-decoration:none;
    color: #FFF;
    text-align: center;
    justify-content: center;
}
.callIcon{
    font-size: 22px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

@media all and (max-width:1070px){
    .headings{
        display: none !important;
    }
    .image-container{
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
    }
    .mobile-menu{
        display: flex;
        color: #FFF;
        font-size: 2em;
        vertical-align: middle;
        align-items: center;
        padding-right: 20px;
    }
    
}
@media all and (max-width:600px) {
    .top-nav-logo{
        height: 10vh;
    }
}
@media all and (max-width:300px){
    .headings{
        display: none !important;
    }
    
}
